div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 20px solid rgb(105, 163, 194);
    border-top: 20px solid rgb(23, 15, 161);
    animation: spin 1.5s ease-in 0ms infinite normal;
    
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}